<div class="row">
  <p class="text-center col-4">
    <a  href="/add-article-form">
      <button mat-fab extended color="accent" >
        <mat-icon>plus_one</mat-icon>
        Ajouter un produit
      </button>
    </a>
  </p>
</div>


<div class="row">
  <!-- Card column -->
  <div class="col-12">
    <!--    Form to add new user-->
    <!--End Verification-->
    <!--    List of users-->

    <mat-card>
      <mat-card-content>
        <mat-card-title>Liste des articles</mat-card-title>
        <mat-card-subtitle> Tableau récapitulatif des articles en stock.</mat-card-subtitle>
      </mat-card-content>


      <table class="mat-elevation-z8 table  table-striped" >
        <!-- Position Column -->
        <thead>
        <tr>
          <th>#</th>
          <th>Nom.</th>
          <th>Prix.</th>
          <th>Couleur.</th>
          <th>Créèr le.</th>
          <th>Description.</th>
          <th>Marque.</th>
          <th>Categorie.</th>
          <th>Qte en stock.</th>

          <th>Actions.</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let prod of products">
          <td><i class="text-info fas fa-cart-plus fa-2x"></i></td>
          <td>{{prod.name}} </td>
          <td class="text-danger">{{prod.prix}} </td>
          <td>{{prod.color}} </td>
          <td>{{prod.createAt}} </td>
          <td>{{prod.description}} </td>
          <td>{{prod.marque}}</td>
          <td>{{prod.categorie}}</td>
          <td class="text-success">{{prod.quantiteStock}} </td>

          <td>
            <button class="btn btn-primary">
              modifier
           </button>
          </td>
        </tr>
        </tbody>
        <!-- Name Column -->
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </mat-card>
    <!--    End of Table-->

    <mat-card style="color:white;">
      <mat-card-content style="color:white;">
        <mat-card-title>Customizing menu position </mat-card-title>
        <mat-card-subtitle style="color:white;">By default, the menu will display below (y-axis), after (x-axis), without overlapping its trigger. The position can be changed using the xPosition (before | after) and yPosition (above | below) attributes. The menu can be forced to overlap the trigger using the overlapTrigger attribute.
        </mat-card-subtitle>
        <mat-menu style="color:white;" #appMenu="matMenu" yPosition="above">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
        </mat-menu>


      </mat-card-content>
    </mat-card>
  </div>
</div>
