<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/styles1/images/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">E-Shop</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class='bx bx-home-circle'></i>
        </div>
        <div class="menu-title">Dashboard</div>
      </a>
      <ul>
        <li> <a routerLink="/responsable-cli"><i class="bx bx-right-arrow-alt"></i>Statistique</a>
        </li>
      </ul>
    </li>

    <!-- <li class="menu-label">UI Elements</li> -->

    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class='bx bx-cart'></i>
        </div>
        <div class="menu-title">Gestion catalogue</div>
      </a>
      <ul>
        <li> <a routerLink="product"><i class="bx bx-right-arrow-alt"></i>Liste Produit</a>
        </li>
        <li> <a routerLink="product-details"><i class="bx bx-right-arrow-alt"></i>Details Produit</a>
        </li>
        <li> <a routerLink="add-product"><i class="bx bx-right-arrow-alt"></i>Ajouter Produit</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class='bx bx-bookmark-heart'></i>
        </div>
        <div class="menu-title">Gestion commande</div>
      </a>
      <ul>
        <li> <a routerLink="/order"><i class="bx bx-right-arrow-alt"></i>Liste commande</a>
        </li>
        <li> <a routerLink="/active-order"><i class="bx bx-right-arrow-alt"></i>Commande validé</a>
        </li>
        <li> <a routerLink="/inactive-order"><i class="bx bx-right-arrow-alt"></i>Commande  nonValidé</a>
        </li>
      </ul>
    </li>
   <!--  <li class="menu-label">Forms & Tables</li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-grid-alt"></i>
        </div>
        <div class="menu-title">Tables</div>
      </a>
      <ul>
        <li> <a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Basic Table</a>
        </li>
        <li> <a href="table-datatable.html"><i class="bx bx-right-arrow-alt"></i>Data Table</a>
        </li>
      </ul>
    </li> -->
    <li>
      <a routerLink="/profile">
        <div class="parent-icon"><i class="bx bx-user-circle"></i>
        </div>
        <div class="menu-title">Mon profile</div>
      </a>
    </li>

  </ul>
  <!--end navigation-->
</div>
