
<div class="row">
  <!-- Card column -->
  <div class="col-8">
    <!--    Form to add new user-->
    <mat-card >
      <div class="success-message-panel" *ngIf="message">
        <div class="success-icon">&#10004;</div>
        <div class="success-message">{{message}}</div>
      </div>

      <mat-card-content>
        <mat-card-title class="text-center">Enregistrer une commande</mat-card-title>
        <mat-card-subtitle class="text-center"> Formulaire d'ajout d'une commande pour un client.</mat-card-subtitle>

        <div class="col-12" >
          <form (ngSubmit)="registerOrder()">
            <p>
              <mat-form-field [color]="colorControl.value!">
                <mat-label>Sélèctionner un produit</mat-label>
                <mat-select  [formControl]="colorControl"
                             name="produit"
                             [(ngModel)]="orderRequest.produit"
                >
                  <mat-option *ngFor="let prod of produits" [value]="prod.name">{{prod.name}} </mat-option>

                </mat-select>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field [color]="colorControl.value!">
                <mat-label>Noms & numero du client</mat-label>
                <mat-select  [formControl]="colorControl"
                             name="client"
                             [(ngModel)]="orderRequest.user"
                >
                  <mat-option value="abdelaziz">Abdel aziz (691 0934 43 )</mat-option>
                  <mat-option value="cratos">Mister You (690 0934 43 )</mat-option>
                </mat-select>
              </mat-form-field>
            </p>



            <p>
              <mat-form-field appearance="fill">
                <mat-label>Date de la commande</mat-label>
                <input matInput
                       type="date"
                       name="deliveryDate"
                       required
                       [(ngModel)]="orderRequest.deliveryDate"
                >
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Quartier</mat-label>
                <input matInput
                       name="deliveryDate"
                       required
                       [(ngModel)]="orderRequest.deliveryAddress"
                >
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </p>

            <p class="text-center">
              <button mat-fab extended>
                <mat-icon>save</mat-icon>
                Enregistrer
              </button>
            </p>
          </form>
        </div>

      </mat-card-content>
    </mat-card>


    <mat-card style="color:white;">
      <mat-card-content style="color:white;">
        <mat-card-title>Customizing menu position </mat-card-title>
        <mat-card-subtitle style="color:white;">By default, the menu will display below (y-axis), after (x-axis), without overlapping its trigger. The position can be changed using the xPosition (before | after) and yPosition (above | below) attributes. The menu can be forced to overlap the trigger using the overlapTrigger attribute.
        </mat-card-subtitle>
        <mat-menu style="color:white;" #appMenu="matMenu" yPosition="above">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="col-4">
    <img src="assets/images/prod/order.png" alt="order" class="img-fluid"  style="margin-top: 10rem !important;">
  </div>
</div>


