<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-lg-8 col-sm-12">

    <mat-card>
      <mat-card-content>
        <h1> Bienvenue au Menu du Customer test ..</h1>
        <p>        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam commodi deserunt dolorem ducimus, excepturi harum ipsum magnam maiores maxime nobis perferendis possimus praesentium quidem recusandae repudiandae sed. Architecto, atque.
        </p>


      </mat-card-content>
    </mat-card>

  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-4 col-sm-12">
<!--    <app-our-visiter></app-our-visiter>-->
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div class="row">
  <!-- Card column -->
  <div class="col-lg-3 col-sm-12">
<!--    <app-profile></app-profile>-->
<!--    <app-contacts></app-contacts>-->
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div class="col-lg-9 col-sm-12">
<!--    <app-activity-timeline></app-activity-timeline>-->
  </div>
</div>
